#mainbody li {
  margin: 20px 0;
  border: 1px solid #999;
  padding: 10px;
}
#mainbody .li-t {
  margin-bottom: 10px;
}
#mainbody .li-b .li-b-l {
  width: 330px;
}
#mainbody .li-b .li-b-l,.li-b-c,.li-b-r {
  float: left;
}
#mainbody .li-b .li-b-c {
  width: 200px;
  margin: 30px 80px 0;
}
#mainbody .li-b .li-b-l .infoimg{
  width: 100px;
  height: 100px;
  margin: 0 20px;
}
#mainbody .li-b .li-b-c .price-num {
	background: #FFF2E8;
	padding: 5px;
}

#mainbody .li-b .li-b-c .purnum {
	display: inline-block;
	vertical-align: middle;
	user-select: none;
}
#mainbody .li-b .li-b-c .purnum b {
	display: inline-block;
	width: 28px;
	height: 28px;
	text-align: center;
	font: 18px/28px "";
	background: #ededed;
	cursor: pointer;
	float: left;
}
#mainbody .li-b .li-b-c .purnum input {
	width: 50px;
	height: 27px;
	text-align: center;
	float: left;
}
#mainbody .li-b .li-b-c .price {
  margin-right: 30px;
}
#mainbody .li-b .li-b-r {
  margin-top: 30px;
  color: red;
  cursor: pointer;
}
.purchase {
  text-align: right;
  margin-right: 100px;
}
.purchase span {
  display: inline-block;
  width: 136px;
	height: 40px;
	text-align: center;
	font: 20px/40px "";
  cursor: pointer;
  color: #fff;
  border: 1px solid #F22D00;
  background: #F22D00;
}