<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src="/bootstrap/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8" ></script>
    <script src="/bootstrap/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">
    html,body{
        height:100%;
    }
    .prokinds{
        background:#f8f8f8;
        position:fixed;
        height:100%;
        left:0;
        width:98px;
        }
        .prokinds ul{
            list-style: none;
            margin:0;
            padding:0;
            text-align:center;
            font:14px/50px "";
        }
        .prokinds ul li{
            text-decoration: underline;
        }
        .prokinds h3{
            margin-top:100px;
            text-align:center;
            font:16px/30px "";
        }
        .prokinds h4{
            text-align:center;
            font:14px/30px "";
        }
        .prokinds h4 a{
            color:red;
        }
        .account {
            text-align: center;
            margin-top: 40px;
        }
        .account a {
            width: 100%;
            padding: 5px 0;
            margin: 10px 0;
        }
        .arrow{
            position:absolute;
            right:-6px;
            top:260px;
            z-index:3;
            width:8px;
            height:200px;
            color:#fff;
            border-top-right-radius:5px;
            border-bottom-right-radius:5px;
            background:green;
            text-align:center;
            font:8px/200px "";
        }
        .pagenav .pagination .red{
            color:red;
        }
    </style>
  </head>
  <body>
  <div class="prokinds">
            <h4><a href="/superindex">商品管理</a></h4>
            <div class="account"> 
                <a class="btn btn-primary buyer" href="#" role="button">买家账户管理</a>
                <a class="btn btn-primary seller" href="#" role="button">商家账户管理</a>
            </div>
      <div class="arrow">
      <span> < </span>
      </div>
    </div>
    
    <%- include("./head.ejs",{title:"有机农产品商家产品页面",isshow:true,headername:name,issuper:false})%>
    
    <div class="container">
    	<table class="table table-bordered table-striped">
    	      <thead>
    	        <tr>
    	          <th>账户</th>
    	          <th>手机号</th>
                  <th>密码</th>
    	          <th>操作</th>
    	        </tr>
    	      </thead>
    	      <tbody id="mainbody">
    	        	
    	      </tbody>
    	    </table>
    </div>

    <nav aria-label="Page navigation" class="pagenav" style="text-align:center">
          <ul class="pagination">
          </ul>      
    </nav>
     
    
    <script type="text/javascript" charset="utf-8">
     if((($(document).width()-$(".container").width()-30)/2)<98){
             $(".prokinds").css({
                left:-98
             })
        }else{
             $(".prokinds").css({
                left:0
             })
        }

     $(".arrow").on("click",function(){
        if($(".arrow").text()==">"){
          $(".prokinds").animate({
              left:0
          },function(){
            $(".arrow").text("<");
          })  
        }else{
           $(".prokinds").animate({
               left:-98
           },function(){
            $(".arrow").text(">");
           }) 
        }    
        })
      $(window).on("resize",function(){
        if((($(document).width()-$(".container").width()-30)/2)<98){
             $(".prokinds").css({
                left:-98
             })
        }else{
             $(".prokinds").css({
                left:0
             })
        }
      });
      function sameajax(url,type){
        $("#mainbody").empty();
        $(".pagination").empty();
        $.ajax({
            url:url,
            data:{
                limit:8,offset:0
            },
            success:(result)=>{
                console.log(result)
                renderlist(result.info,type);
                renderpage(result.total,url,type);
            }
        });
        function renderlist(list,type){
                for(var i=0;i<list.length;i++){
                $tr = $("<tr>").html(`
                <td>${list[i].name}</td>
                <td>${list[i].tel}</td>
                <td>${list[i].password}</td>
                <td>
                <a class="btn btn-default" href="/superproduct/fixed?id=${list[i]._id}&type=${type}" role="button">修改</a>
                <a class="btn btn-danger" href="/superproduct/delete?id=${list[i]._id}&type=${type}" role="button">删除</a>
                </td>
                    `);

                $("#mainbody").append($tr);
            }
        };
        function renderpage(page,url,type){
            for(var i=0;i<page;i+=8){
                $li = $("<li>").html(`<a>${i/8+1}</a>`);
                    $li.click(function(){
                    $(this).find("a").addClass("red").parents("li").siblings("li").find("a").removeClass("red");
                    rerenderlist($(this).index(),url,type);
                })
                
                $(".pagination").append($li);
            }

        };
        function rerenderlist(index,url,type){
            $("#mainbody").empty();
            $.ajax({
                url:url,
                data:{limit:8,offset:index*8},
                success:(result)=>{
                 console.log(result) // 箭头函数解决this 指向
                renderlist(result.info,type);
                }
            })
        }
      }
      sameajax("/superaccount/list","mallUser");
      $(".buyer").on("click",function(){
        sameajax("/superaccount/list","mallUser");
      })
      $(".seller").on("click",function(){
        sameajax("/superaccount/relist","User");
      })
    </script>
  </body>
</html>



              
                            
  
